services:
  endpoint:
    container_name: helper-api
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${ON_PORT}:${ON_PORT}"
    restart: always
    networks:
      - request
    tty: true
    stdin_open: true

networks:
  request:
    external: true